.App {
  margin: auto;
  width: 50%;
}

.formField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.myButton {
  width: 100%;
  background-color: rgb(0, 48, 138);
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-text-fill-color: #cccccc;
}

.myList {
  list-style: none;
}

.myListButton {
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 7px;
  border: 1px solid #d39595;
  margin: 5px 10px;
}
